amp-story {
        font-family: 'Oswald',sans-serif;
        color: #fff;
      }
amp-story-page {
        background-color: #000;
      }

h1 {
        font-weight: bold;
        font-size: 2em;
        font-weight: normal;
/*         line-height: 1.174; */
      }
p {
  font-weight: normal;
  font-size: 1em;
  color: #fff;
}
#pos2{
  font-weight: bold;
  font-size: 1em;
  color: #010101;
  
  
}
#pos3{
  font-weight: bold;
  font-size: 1em;
  color: #fff;
  
}
#pos4{
  font-weight: bold;
  font-size: 1em;
  color: #eebbc3;  
}
#pos5{
  font-weight: bold;
  font-size: 1em;
  color:#ffe4c4		;
}
#pos6{
  font-weight: bold;
  font-size: 1em;
  color:chocolate;

	
  
}

/*
q {
  font-weight: 300;
  font-size: 1.1em;
}
*/
amp-story-grid-layer.bottom {
  align-content:end;
}
/* amp-story-grid-layer.noedge {
  padding: 7px;
} */
amp-story-grid-layer.center-text {
  align-content: center;
}
.wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}
.banner-text {
  text-align: center;
  background-color: #000;
  line-height: 1.5em;
} 